* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

:root {
    --grey : #444444;
    --red : #b92519;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-image: url('/images/bg-body.png');
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 10px 0 10px;
}

/* HEADER */

.main-header {
    max-width: 380px;
    text-align: center;
    margin-bottom: 20px;
}

.main-header .logo {
    border-radius: 50%;
}

.main-header .toggle-nav {
    background-color: var(--grey);
    border-radius: 2px;
    color: white;
    display: block;
    margin: 20px auto 15px auto ;
    padding: 5px;
    width: fit-content;
    width: -moz-fit-content;
}

.main-header .main-nav ul li {
    background-color: var(--grey);
    margin-bottom:1px;
    padding: 5px;
    text-transform: uppercase;
}

/* Banner */

.banner {
    display: none;
}

/* Product */

.vip-products .product {
    max-width: 380px;
    padding-bottom: 25px;
}

.vip-products .product h2 {
    margin: 15px 0 ;
}

.vip-products .product p {
    color: var(--grey);
}

.vip-products .product a.more {
    background-color: var(--grey);
    display: block;
    margin: 13px 0 0 0;
    padding: 7px;
    text-align: center;
    width: 95px;
}

.vip-products .product .photo-container {
    position: relative;
} 

.vip-products .product .photo-container img.photo{
    width: 100%;
}

.vip-products .product .photo-container .special {
    position: absolute;
    top:0px;
    right: 20px;
}

.vip-products .product .photo-container .zoom {
    background-color: rgba(0,0,0,0.5);
    left: 0;    
    padding: 5px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 48%;
    width: 100%;
}

/* FOOTER */

.main-footer ul li {
    background-color: var(--red);
    margin-bottom:1px;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
}

/* Media */
/* Tablet */
@media (min-width: 768px) {

    /*Header*/

    .main-header .toggle-nav {
        display: none;
    }

    .main-header {
        max-width: 100%;
        text-align: center;
    }

    .main-header .main-nav {
        margin: 20px 0;
    }
    
    .main-header .main-nav ul li {
        display: inline-block;
        font-size: 14px;
        margin-bottom:0px;
        margin-right: 9.5px;
        padding: 7px 7px;
        width: 113px;
    }

    .main-header .main-nav ul li:last-child {
        margin-right: 0;
    }

    .banner {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }
    .banner img{
        width: 100%;
    }

    .vip-products .product {
        display: inline-block;
        max-width: 371px;
    }

}

/* Desktop */
@media (min-width: 1180px) {
    .container {
        max-width: 1180px;
    }

    .main-header .logo {
        width: 180px;
    }

    .main-header .main-nav {
        margin: 30px 0 20px 0;
    }

    .main-header .main-nav ul li {
        font-size: 16px;
        margin-right: 15px;
        padding: 7px 15px;
        width: 180px;
    }

    .vip-products .product {
        max-width: 380px;
        margin-right: 15px;
        padding-bottom: 30px;
    }
    .vip-products .product:nth-child(3n){
        margin-right: 0;
    }

    /* Footer desktop */

    .main-footer {
        background-color: var(--red);
        border-radius: 30px 30px 0 0 ;
        height: 10rem;
    }

    .main-footer ul {
        text-align: center;
    }

    .main-footer ul li {
        border-right: 1px solid white;
        display: inline-block;
        margin-bottom:1px;
        margin-top: 68px;
        padding: 0 10px;
        text-transform: capitalize;
        text-align: center;
    }

    .main-footer ul li:last-child {
        border-right: none;
    }
    

}

